# OS
Thumbs.db
desktop.ini
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code
.vscode/
.history/

# Python
__pycache__/
*.py[cod]
*.pyo
env/
venv/

# Build
dist/
build/

# Logs
*.log

# Secrets
.env
.env.local

# IDE
.idea/

# OneDrive temporary
~$*
